.shop_product{
    width: 100%;
    padding: 50px 5%;
    position: relative;
}
.shop_header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}
.shop_product h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.shop_menus{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.shop_menus li{
    list-style: none;
    cursor: pointer;
    color: var(--gray);
    transition: .3s ease-in-out;
}
.shop_menus li:hover{
    color:var(--green) ;
    font-weight: bold;
}
.shop_menus b{
    color: black;
    margin-left: 5px;
}
.shop_header .active{
    color:var(--green) ;
    font-weight: bold;
}
.shop_items{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.shop_cart{
    min-width: 300px;
}
.shop_cart:hover .img_com .img{
    transform: scale(1.1);
}
.img_com{
    position: relative;
    width: 100%;
    height: 380px;
    overflow: hidden;
}
.img_com .img{
    transition: .4s ease-in-out;
}
.item_text{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 5px;
    border: 1px solid lightslategray;
    border-bottom: 0;
}
.item_name{
    font-weight: 700;
    flex: 1;
}
.item_price{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 700;
    flex: 1;
}
.star{
    font-size: 18px;
    color: var(--yellow);
}
.cart_fav_Con{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fav, .cart{
    font-size: 30px;
    cursor: pointer;
    color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightslategray;
    flex-basis: 50%;
    padding: 10px 0;
    transition: .2s ease-in;
}
.fav_red{
    font-size: 30px;
    cursor: pointer;
    color: var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid lightslategray;
    flex-basis: 50%;
    padding: 10px 0;
    transition: .2s ease-in;
}
.fav:hover, .cart:hover{
    background-color:var(--teal) ;
    color: var(--white);
}
.item_add_message{
    position: fixed;
    bottom: 100px;
    background-color: var(--green);
    border-radius: 5px;
}
.item_add_message p{
    color: white;
    padding: 20px 20px;
    font-weight: 600;
}
.items_toggle_Con{
    display: flex;
    align-items: center;
    border: 1px solid lightslategray;
    width: 150px;
    height: 52px;
    justify-content: space-between;
    padding: 10px;
}
.items_toggle_Con p{
    font-size: 25px;
}
.items_toggle_Con .add_icon{
    background-color:var(--green) ;
    padding: 5px 10px;
    color: var(--white);
    border-radius: 50%;
    font-weight: bolder;
    cursor: pointer;
}
.items_toggle_Con .remove_icon{
    background-color:var(--red) ;
    padding: 5px 10px;
    color: var(--white);
    border-radius: 50%;
    font-weight: bolder;
    cursor: pointer;
}
.item_remove_message{
    position: fixed;
    bottom: 100px;
    background-color: var(--red);
    border-radius: 5px;
}
.item_remove_message p{
    color: white;
    padding: 20px 20px;
    font-weight: 600;
}