.why_our_serv{
    margin: 70px 0;
    padding: 0 5%;
}
.why_our_serv_Com{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.why_our_serv h2{
    text-align: center;
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 35px;
}
.why_our_serv p{
    text-align: center;
    margin-bottom: 50px;
    font-size: 14px;
}
.four_col{
    flex: 1;
    min-width: 200px;
    max-width: 300px;
}
.img_Con{
    position: relative;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
}
.four_col h3{
    font-weight: 600;
    margin-bottom: 10px;
}

 @media (max-width:700px){
    .why_our_serv_Com{
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .four_col{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}