.footer{
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.footer .big_col{
    flex-basis: 30%;
    min-width: 200px;
}
.big_col .cards_Con{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}
.big_col form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}
form .form_Con{
    display: flex;
    border: 1px solid var( --gray);
    border-radius: 50px;
}
.form_Con input{
    background-color: transparent;
    border: none;
    color: var(--black);
    flex: 1;
    padding: 10px;
    font-size: 16px;
    outline: none;
}
.form_Con .btn{
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}
.footer .small_col{
    flex-basis: 15;
    min-width: 180px;
}
.small_col li{
    list-style: none;
    margin-bottom: 5px;
    cursor: pointer;

}
.footer h2, .footer h3{
    padding-bottom: 20px;
}
.footer .socila_icon_Con{
    display: flex;
    align-items: center;
    gap: 30px;
}
.socila_icon{
    font-size: 20px;
    cursor: pointer;
    background-color: var(--white);
    padding: 10px;
    border-radius: 50%;
    transition: .3s ease-in-out;
    color: var(--black);
    border: 1px solid var(--gray);
}
.socila_icon:hover{
    transform: translateY(-10px);
}
.footer .designer{
    text-align: center;
    margin-top: 20px;
    width: 100%;
}