.footer{
    padding: 20px 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    border-top: 2px solid var(--gray);
}
.footer h2{
   font-family: cursive;
}
.footer h3{
    font-size: 15px;
    font-weight: 600;
}
.footer p{
    font-size: 14px;
}
.footer .big_col{
    flex-basis: 25%;
}
.big_col .cards_Con{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}
.big_col form{
    margin-bottom: 30px;
}
form .form_Con{
    display: flex;
    border: 1px solid var( --gray);
    border-radius: 50px;
    width: 100%;
}
.form_Con input{
    background-color: transparent;
    border: none;
    color: var(--black);
    font-size: 16px;
    outline: none;
    flex: 1;
    padding: 5px 10px;
}
.form_Con .btn{
    background-color: transparent;
    padding: 10px;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}
.big_col .cards{
    font-size: 30px;
}
.footer .small_col{
    flex-basis: 15%;
}
.small_col li{
    list-style: none;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 13px;
}
.footer h2, .footer h3{
    padding-bottom: 20px;
}
.footer .socila_icon_Con{
    display: flex;
    align-items: center;
    gap: 10px;
}
.socila_icon{
    font-size: 15px;
    cursor: pointer;
    background-color: var(--white);
    padding: 10px;
    border-radius: 50%;
    transition: .3s ease-in-out;
    color: var(--black);
    border: 1px solid var(--gray);
}
.socila_icon:hover{
    transform: translateY(-10px);
}
.footer .designer{
    text-align: center;
    margin-top: 20px;
    width: 100%;
}
.back_top_icon{
    transform: rotate(90deg);
    font-size: 25px;
    font-weight: bolder;
    padding: 15px;
    background-color: var(--orange);
    color: white;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 90;
    margin-right: 10px;
    margin-bottom: 60px;
    transition: 4s ease-in-out;
}
.back_top_icon.hidden{
    display: none;
}