.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.navbar ul .links{
    text-decoration: none;
    color: black;
    transition: .3s ease-in-out;
    font-weight: 500;
    padding-bottom: 5px;
}
.navbar ul .links:hover{
    border-bottom: 3px solid var(--danger);
}
.navbar .links.active {
    border-bottom: 3px solid var(--danger);
  }
  .user_login_cart{
    display: flex;
    align-items: center;
    gap: 40px;
}
.user_login_cart .cart, .user_login_cart .user_login{
    font-size: 30px;
    cursor: pointer;
}

