.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.navbar ul .links{
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    color: black;
    transition: .4s ease-in-out;
}
.navbar .links.active {
    background-color: black;
    color: white;
  }

