.navbar{
    padding: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    width: 100%;
    background-color: var(--white);
    z-index: 99;
    margin-bottom: 60px;
    box-shadow: 0 0 5px var(--gray);
}
.navbar .big_screen_menu{
    display: flex;
    align-items: center;
    gap: 50px;
}
.logo h3{
    color: var(--orange);
}
.navbar ul{
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.navbar ul .links{
    text-decoration: none;
    color: black;
    transition: .3s ease-in-out;
    font-weight: 500;
    padding-bottom: 5px;
}
.navbar ul .links:hover{
    border-bottom: 3px solid var(--danger);
}
.navbar .links.active {
    border-bottom: 3px solid var(--danger);
  }
  .user_login_cart{
    display: flex;
    align-items: center;
    gap: 40px;
}
.user_login_cart .cart, .user_login_cart .user_login,.user_login_cart .user_fav{
    font-size: 20px;
    cursor: pointer;
}

/* MOBILE MENU*/
.navbar .small_screen_menu{
    display: none;
}
.menu_bar{
    display: none;
}

@media (max-width:800px){
    .navbar .big_screen_menu{
        display: none;
    }
    .navbar{
        position: fixed;
    width: 100%;
    background-color: var(--white);
    z-index: 99;
    box-shadow: 0 0 5px var(--gray);
    }
    .navbar .small_screen_menu{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--blur);
        width: 70%;
        gap: 40px;
        padding: 30px;
        min-height: 100vh;
        align-items: flex-start;
        transition: .5s ease-in-out;
    }
    .menu_close{
        font-size: 40px;
        cursor: pointer;
        position: absolute;
        right: 0;
        margin-right: 30px;
        cursor: pointer;
    }
    .navbar .small_screen_menu.active{
        transform: translateX(-100%);
    }
    .menu_bar{
        display: block;
    }
    .small_screen_menu ul{
        flex-direction: column;
    }
}

